
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
  
  #bullets {
    margin: auto;
    width: 60%;    
    padding: 10px;
    font-size: 150%;
  }

  @media (min-width: 75em) {
  html {
    font-size: 62.5%;
  }
  }
  
 
  body {
  font-family: calibri, sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  color: black;
  background-image: url(Lee\ with\ pupils.jpg);
  background-size: 100%;
  }
  
  h1,
  h2 {
  font-family: calibri, sans-serif;
  font-weight: 700;
  text-align: center;
  }
  
  h1 {
  font-size: 6rem;
  }
  
  h2 {
  font-size: 4.2rem;
  }
  
  a {
  text-decoration: none;
  color: black;
  }
  
  .nav {
  display:flex;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  background: #556a9f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  }
  
  .nav-list {
  display: flex; 
  margin-right: 20%;
  list-style: none;
  }
  
  @media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
  
    .nav-list {
    margin: 0 1rem;
  }
  }
  
  .nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  }
  
  .nav-list a:hover {
  background: white;
  }
  
  .navbar-slogan {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 20%;
  color: white;
  }
  
  #welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  }
  
  #welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  width: 70%;
  padding-left: 10%;
  }
  