
html {
background-color: #e6edff;
box-sizing: border-box;
scroll-behavior: smooth;
}

body {
font-family: calibri, sans-serif;
font-size: 1.8rem; /* 18px */
font-weight: 400;
color: black;
}

h1,
h2 {
font-family: calibri, sans-serif;
font-weight: 700;
text-align: center;
}

h1 {
font-size: 6rem;
}

h2 {
font-size: 4.2rem;
}

ul {
list-style: none;
}

a {
text-decoration: none;
color: black;
}

.nav {
display:flex;
justify-content: space-between;
position: fixed; 
top: 0; 
left: 0;
width: 100%;
background: #556a9f;
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
z-index: 10;
}

@media (max-width: 28.75em) {
.nav {
  justify-content: center;
}

  .nav-list {
  margin: 0 1rem;
}
}

.nav-list a {
display: block;
font-size: 2.2rem;
padding: 2rem;
}

.nav-list a:hover {
background: white;
}

@media (min-width: 75em) {
  .navbar-slogan {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 20%;
    color: white;
    }
  .nav-list {
    display: flex; 
    margin-right: 20%;
    list-style: none;
    }
  html {
    font-size: 62.5%;
    }
}

@media (max-width: 75em) {
  .navbar-slogan {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-left: 10%;
    color: white;
    }
  li {
    padding: 10px;
    }
  .nav-list {
    display: flex; 
    margin-right: 10%;
    list-style: none;
    }
  }

#welcome-section {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
}

#welcome-section > p {
font-size: 3rem;
font-weight: 200;
font-style: italic;
width: 70%;
padding-left: 10%;
}

#leeimage {
  float: right;
}