
html {
background-color: #e6edff;
box-sizing: border-box;
font-size: 62.5%;
scroll-behavior: smooth;
}

@media (max-width: 75em) {
html {
  font-size: 60%;
}
}

@media (max-width: 61.25em) {
html {
  font-size: 58%;
}
}

@media (max-width: 28.75em) {
html {
  font-size: 55%;
}
}

body {
font-family: calibri, sans-serif;
font-size: 1.8rem; /* 18px */
font-weight: 400;
color: black;
}

h1,
h2 {
font-family: calibri, sans-serif;
font-weight: 700;
text-align: center;
}

h1 {
font-size: 6rem;
}

h2 {
font-size: 4.2rem;
}

ul {
list-style: none;
}

a {
text-decoration: none;
color: black;
}

.nav {
display:flex;
justify-content: space-between;
position: fixed; 
top: 0; 
left: 0;
width: 100%;
background: #556a9f;
box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
z-index: 10;
}

.nav-list {
display: flex; 
margin-right: 2rem;
}

@media (max-width: 28.75em) {
.nav {
  justify-content: center;
}

  .nav-list {
  margin: 0 1rem;
}
}

.nav-list a {
display: block;
font-size: 2.2rem;
padding: 2rem;
}

.nav-list a:hover {
background: white;
}

.navbar-slogan {
font-size: 2.5rem;
display: flex;
align-items: center;
margin-left: 10px;
color: white;
}

#welcome-section {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
}

#welcome-section > p {
font-size: 3rem;
font-weight: 200;
font-style: italic;
width: 70%;
padding-left: 10%;
}
